.wrapper{
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--border-color);
    background-color: var(--bcg-color);
}

.label{
    display: inline-block;
}

.input{
    display: block;
    width: 400px;  
    margin-top: 8px;
    padding: 4px;
    color: var(--text-color);
    background-color: inherit;
    border: 2px solid var(--border-color);
}

.input:focus,
.input:hover {
    outline: 1px solid var(--accent-color);
    box-shadow: 0 0 12px var(--accent-color);
}
