.list{   
    padding: 12px;
    border: 1px solid var(--border-color);
    list-style-type: none;
    background-color: var(--bcg-color);
}

.item{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px dotted var(--border-color);
    
}

.item:not(:last-child){
    margin-bottom: 4px;
}

.btn{
    padding: 4px 12px;
    color: var(--text-color);
    font-weight: bold;
    background-color: inherit;
    border: 2px solid var(--border-color);
    /* cursor: pointer; */
    cursor: no-drop;
}

.btn:hover{    
    box-shadow: 0 0 12px var(--accent-color);
}